---
# Main Sass File
---
@charset "utf-8";
@import 'base/normalize';
@import 'base/variables';
@import 'base/global';
@import 'components/logo';
@import 'font-awesome/font-awesome';
@import 'components/burger';
@import 'layouts/nav';
@import 'layouts/blog';
@import 'components/to-top';
@import 'components/animate';
@import 'syntax-highlighting';


.typed-cursor{
    opacity: 0;
    -webkit-animation: blink 0.7s infinite 2s;
    -moz-animation: blink 0.7s infinite 2s;
    animation: blink 0.7s infinite 2s;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.intro {
  animation-delay: 2s;
}
