---
# Main Sass File
---
@charset "utf-8";
@import 'base/normalize';
@import 'base/variables';
@import 'base/global';
@import 'font-awesome/font-awesome';
@import 'bourbon';
@import 'neat';
@import 'components/burger';
@import 'layouts/nav';
@import 'layouts/blog';
@import 'components/to-top';
@import 'components/animate';
@import 'syntax-highlighting';


body {
  &.landing {
    background-color: $background-color-landing;
  }
  &.about {
    background-color: $background-color-body;
  }
  &.blog {
    background-color: $background-color-body;
  }
}

div.container {
  width: 960px;
  height: 100%;
  margin: 0 auto;
  top: 0;
  position: relative;
  transition: transform 0.5s ease-out;
    &.nav-opened {
      transform: translateX(-325px);
    }
}

div.about-intro {
  @include margin(80px null null null);
  width: 540px;
  float: left;
}

div.about-image {
  width: 420px;
  float: left;
  text-align: center;
    img {
      width: 320px;
      @include margin(40px null null null);
    }
}


div.about-tagline {
  @include margin(150px null null null);
  text-align: center;
  margin: 0 auto;
  width: 700px;
  float: none;
  img {
    width: 140px;
    @include margin(100px null 40px null);
  }
}

.about-colophon {
  @include padding(50px null 140px null);
  float: left;
  width: 960px;
}

.tagline {
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  text-align: center;
  h1 {
    color: white;
    @include margin(80px 0 0 0);
  }
  .logo {
    width: 140px;
  }
}

/**** Animation / Waipoints - WIP ****/
.wp1, .wp2, .wp3 {
  animation-delay: 0.5s;
  visibility: hidden;
}

.bounceInLeft, .bounceInRight, .fadeIn, .fadeInUp, .fadeInUpDelay, .fadeInDown, .fadeInUpD, .fadeInLeft, .fadeInRight, .bounceInDown {
  visibility: visible;
}
