<aside class="main-nav hidden">
    <a href="/"><img class="avatar" src="/images/avatar.png" alt="avatar" /></a>
    <nav>
      <ul>
        <li><a class="underlined" href="/about">about</a></li>
        <li><a class="underlined" href="#">work</a></li>
        <li><a class="underlined" href="/blog">blog</a></li>
      </ul>
    </nav>
  <div class="contacts">
    <p class="get-in-touch">
      get in touch
    </p>
    <a href="http://www.twitter.com/marioribeiro" target="_blank"><i class="fa fa-twitter fa-2x icon-twitter"></i></a>
    <a href="http://www.facebook.com/mariocalvelasribeiro" target="_blank"><i class="fa fa-facebook fa-2x icon-facebook"></i></a>
    <a href="http://www.linkedin.com/in/mariocalvelasribeiro" target="_blank"><i class="fa fa-linkedin-square fa-2x icon-linkedin"></i></a>
    <a href="http://www.instagram.com/mariocalvelasribeiro" target="_blank"><i class="fa fa-instagram fa-2x icon-instagram"></i></a>
    <a href="http://www.dribbble.com/marioribeiro" target="_blank"><i class="fa fa-dribbble icon-dribbble fa-2x"></i></a>
    <a href="mailto:mail@marioribeiro.com"><i class="fa fa-envelope-o icon-email fa-2x"></i></a>
  </div>
</aside>
