<aside class="main-nav hidden">
    <a href="/"><img class="avatar" src="/images/avatar.png" alt="avatar" /></a>
    <nav>
      <ul>
        <li><a class="underlined" href="/about">about</a></li>
        <li><a class="underlined" href="/work/openaquaria">work</a></li>
        <li><a class="underlined" href="/blog">blog</a></li>
      </ul>
    </nav>
  <div class="contacts">
    <p class="get-in-touch">get in touch</p>
    <a class="contact icon-twitter" href="http://www.twitter.com/marioribeiro" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
    <a class="contact icon-facebook" href="http://www.facebook.com/mariocalvelasribeiro" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
    <a class="contact icon-linkedin" href="http://www.linkedin.com/in/mariocalvelasribeiro" target="_blank"><i class="fa fa-linkedin-square fa-2x"></i></a>
    <a class="contact icon-instagram" href="http://www.instagram.com/mariocalvelasribeiro" target="_blank"><i class="fa fa-instagram fa-2x"></i></a>
    <a class="contact icon-dribbble" href="http://www.dribbble.com/marioribeiro" target="_blank"><i class="fa fa-dribbble icon-dribbble fa-2x"></i></a>
    <a class="contact icon-email " href="mailto:mail@marioribeiro.com"><i class="fa fa-envelope-o fa-2x"></i></a>
  </div>
</aside>
