// Variables go here

$background-color-landing: #1ABC9C;
$background-color-body: #FAFAFA;
$burger-color-2: #1ABC9C;
$black: #313131;
$grey: #767676;
$darkgrey: #485751;
$lightgrey: #EFEFEF;
$green: #1ABC9C;
$darkblue: #000A2D;
$white: #fff;
$twitter: #55acee;
$facebook:#036CB6;
$linkedin: #007AB3;
$instagram: #3F729B;
$dribbble: #ea4c89;
$font-family-base: 'Source Sans Pro', sans-serif;
$font-heading: 'Nunito', sans-serif;
